#slide1 {
    height: 100%;

    
  }
#slide2 {
    height: 100%;

    
  }

#slide3 {
    height: 100%;

    
  }

#slide4 {
    height: 100%;

    
  }

// #slide5 {
//     height: 100%;
//     background-image: url('../../../assets/images/splash4.jpg');
//     object-fit: contain;
//     background-repeat: no-repeat;
    
//   }

  
ion-slides{
    height: 100%;
}

ion-item{
    margin-top: 90%;
}
