ion-menu ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
  }
  
  ion-menu.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }
  
  ion-menu.md ion-list {
    padding: 20px 0;
  }
  
  ion-menu.md ion-note {
    margin-bottom: 30px;
  }
  
  ion-menu.md ion-list-header,
  ion-menu.md ion-note {
    padding-left: 10px;
  }
  
  ion-menu.md ion-list#inbox-list {
    border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
  }
  
  ion-menu.md ion-list#inbox-list ion-list-header {
    font-size: 22px;
    font-weight: 600;
  
    min-height: 20px;
  }
  
  ion-menu.md ion-list#labels-list ion-list-header {
    font-size: 16px;
  
    margin-bottom: 18px;
  
    color: #757575;
  
    min-height: 26px;
  }
  
  ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 4px;
  }
  
  ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
  }
  
  ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
  
  ion-menu.md ion-item ion-icon {
    color: #616e7e;
  }
  
  ion-menu.md ion-item ion-label {
    font-weight: 500;
  }
  
  ion-menu.ios ion-content {
    --padding-bottom: 20px;
  }
  
  ion-menu.ios ion-list {
    padding: 20px 0 0 0;
  }
  
  ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
  }
  
  ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
  
  ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
  }
  
  ion-menu.ios ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
  }
  
  ion-menu.ios ion-list-header,
  ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  ion-menu.ios ion-note {
    margin-bottom: 8px;
  }
  
  ion-note {
    display: inline-block;
    font-size: 16px;
  
    color: var(--ion-color-medium-shade);
  }
  
  ion-item.selected {
    --color: var(--ion-color-primary);
  }
  
  //  layout for Main Layout
  
  * {
    box-sizing: border-box;
  }
  
  
  .outersec {
    width: 100%;
    padding: 15px 0;
    height: 100%;
  }
  
  .outersec>.left-col,
  .outersec>.right-col {
    height: 100%;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
  }
  
  .outersec>.left-col>.inner,
  .outersec>.right-col>.inner {
    width: 100%;
    overflow: auto;
  }
  .outersec>.right-col>.inner {
    height: 100%;
  }
  
  .outersec>.right-col {
    width: 250px;
    border-left: 1px solid #444;
    padding: 0 15px;
    position: fixed;
    right: 0;
  }
  
  .outersec>.right-col ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .outersec>.right-col ul>li>a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    width: 100%;
    background-color: #efefef;
    margin-bottom: 10px;
    color: #333;
  }
  
  .outersec>.right-col ul>li.active a,
  .outersec>.right-col ul>li>a:hover {
    background-color: #333;
    color: #fff;
  }
  
  .outersec>.right-col ul>li:last-child>a {
    margin-bottom: 0;
  }
  
  .outersec>.left-col {
    width: calc(100% - 250px);
    padding: 0 15px;
  }
  
  .outersec>.left-col .heading {
    font-weight: 900;
    text-transform: uppercase;
    padding: 10px;
    border: 1px solid #000;
    background-color: gray;
    color: #fff;
  }
  
  .outersec>.left-col .heading.active {
    background-color: #333;
  }
  
  