<ion-header color="medium">
  <ion-toolbar mode="ios" >
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-item lines="none"> -->
      <ion-searchbar mode="ios" class="mt-2" animated="true" placeholder="Search People"></ion-searchbar>
    <!-- </ion-item> -->
  </ion-toolbar>
</ion-header>




<ion-content color="medium">
  <ion-item color="medium" lines="none">
   <ion-avatar >
    <ion-icon color="dark" size="large"  name="person"></ion-icon>
  </ion-avatar>
  <ion-button expand="block" size="medium" fill="outline" shape="round">
    Share your moments
  </ion-button>
  <ion-icon color="dark" slot="end" name="images"></ion-icon>
  </ion-item>

</ion-content>