/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import 'node_modules/ngx-toastr/toastr';
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.box {
    border-color: #4267B2;
    border-width: thin;
    border-style: solid;
    border-radius: 3px;
}

.main_color{
    background-color: #D2DACF;
}

/* Note: These styles should be located in your global stylesheet */
ion-action-sheet.my-custom-class .action-sheet-group {
    background: #D2DACF;
  }
  
  ion-action-sheet.my-custom-class .action-sheet-title {
    color: #000000;
  }
  
  ion-action-sheet.my-custom-class .action-sheet-cancel::after {
    background: #e97223;
  }
  
  ion-action-sheet.my-custom-class .action-sheet-button,
  ion-action-sheet.my-custom-class .action-sheet-button.ion-focused {
    color: #000000;
  }
  
  @media (any-hover: hover) {
    ion-action-sheet.my-custom-class .action-sheet-button:hover {
      color: #000000;
    }
  }
  
  ion-action-sheet.my-custom-class ion-backdrop {
    opacity: 0.6;
  }


  .my-alert-class .alert-wrapper {
    background: #D2DACF;
  }